.library {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  background: rgb(190, 219, 223);
  box-shadow: 2px 2px 50px rgb(197, 195, 197);
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
  opacity: 0;
  h2 {
    padding: 2rem;
  }
}
.library-song {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem 2rem 1rem 2rem;
  img {
    width: 30%;
  }
  &:hover {
    background: rgb(162, 203, 223);
  }
}
.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
    padding-bottom: 0.7rem;
  }
  h4 {
    font-size: 0.8rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rbga(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.8);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: rgb(174, 183, 235);
}
.active-library {
  transform: translateX(0%);
  transition: all 0.3s ease-in;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
