* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background: rgb(205, 249, 255);
}
h3,
h4 {
  font-weight: 400;
  color: rgb(90, 90, 90);
}

.app {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 30%;
}
@import "./player";
@import "./song";
@import "./library";
@import "./nav";
